# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore .DS_Store files on macOS
.DS_Store